html {
  background-color: #ffd700;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #121212;
  padding: 2rem;
  overflow: visible;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a.header__home {
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0;
}

.header__links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  padding: 0.25rem;
  transition: background-color 200ms, color 200ms, opacity 200ms;
  font-size: 1.1rem;
  margin: 0 1rem;
  border-bottom: 1px solid transparent;
}

.header a:last-child {
  margin-right: 0;
}

.header a:hover {
  background-color: #121212;
  color: #ffd700;
}

.header a:active {
  opacity: 0.5;
}

main {
  text-align: center;
}

.big-button-link {
  background-color: #121212;
  text-decoration: none;
  border-radius: 10rem;
  color: #ffd700;
  padding: 1rem 2rem;
  font-weight: 500;
  display: inline-block;
  font-size: 2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid #121212;
  transition: background-color 200ms, box-shadow 200ms, color 200ms,
    opacity 200ms;
}

.big-button-link:hover {
  background-color: #ffd700;
  color: #121212;
}

.big-button-link:active {
  opacity: 0.5;
  box-shadow: none;
}

.cta {
  text-align: center;
  padding-bottom: 3rem;
}

.cta__title {
  font-weight: 400;
  font-size: 8rem;
  text-align: center;
  margin-bottom: 12rem;
  letter-spacing: -4px;
}

.cta__title__keyword-spacer {
  visibility: hidden;
}

.cta__title__keywords {
  position: relative;
}

.cta__title__keywords > span {
  font-weight: 700;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  position: absolute;
  transform: translateX(-50%);
}
.cta__title__keywords > span:nth-child(2) {
  animation-delay: 4s;
}

.cta__title__keywords > span:nth-child(3) {
  animation-delay: 8s;
}

.cta__title__keywords > span:nth-child(4) {
  animation-delay: 12s;
}

.cta__title__keywords > span:nth-child(5) {
  animation-delay: 16s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

.cta__subtitle {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 4rem;
  letter-spacing: -2px;
}

.topics {
  max-width: 100rem;
  margin: 0 auto;
  text-align: center;
}

.topics__group {
  display: flex;
  align-items: center;
  margin: 5rem 0;
  justify-content: center;
}

.topics__group__text,
.topics__generator {
  max-width: 40rem;
  padding: 5rem;
  box-sizing: border-box;
  text-align: center;
}

.topics__group__text__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
}

.topics__group__text__content {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.5;
}

.generator {
  padding: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 200ms, opacity 200ms;
  text-align: left;
}

.generator:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.generator:active {
  opacity: 0.5;
}

.generator__img {
  width: 9rem;
  height: 9rem;
  margin-right: 2rem;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.generator__info {
  color: #121212;
  white-space: nowrap;
}

.generator__info__title {
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.generator__info__subtitle {
  font-size: 1.1rem;
}

.tail {
  text-align: center;
  margin: 5rem auto;
  max-width: 80rem;
}

.tail__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.tail__subtitle {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1rem;
}

.tail__text {
  text-align: left;
  font-size: 1.25rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

footer a {
  color: #121212;
  margin: 0 0.5rem;
}

@media (max-width: 1200px) {
  .topics__group__text,
  .topics__generator {
    padding: 1rem;
  }
}

@media (max-width: 800px) {
  html {
    padding: 1rem;
  }

  .header a.header__home {
    font-size: 1.1rem;
  }

  .header a {
    font-size: 1rem;
  }

  .cta {
    padding: 0;
  }
  .cta__title {
    font-size: 3rem;
    letter-spacing: -2px;
    margin-bottom: 7rem;
  }
  .cta__subtitle {
    font-size: 2rem;
    letter-spacing: -1px;
  }
  .big-button-link {
    font-size: 1.25rem;
  }

  .topics__group {
    margin: 3rem 0;
    flex-direction: column;
  }

  .topics__group:first-child {
    margin-top: 5rem;
  }

  .topics__group__text,
  .topics__generator {
    padding: 0;
  }

  .topics__group__text__title {
    font-size: 1.75rem;
  }

  .topics__group__text__content {
    font-size: 1.33rem;
  }

  .generator__img {
    width: 5rem;
    height: 5rem;
  }

  .generator__info__title {
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
  }

  .generator__info__subtitle {
    font-size: 1rem;
  }

  .tail {
    margin-bottom: 3rem;
  }

  .tail__title {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  .tail__subtitle {
    margin-top: 0.5rem;
    font-size: 1.25rem;
  }
}
